n8n-workflows/job_scrape.json
{
  "name": "Job Scraping Scheduler",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:5000/api/jobs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Fetch Jobs To Scrape",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "=http://localhost:5000/api/jobs/scrape",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ {\"url\": $json.url} }}"
      },
      "name": "Scrape Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "job_scrape_logs",
        "fields": "jobId,status,scrapedAt",
        "options": {}
      },
      "name": "Save to MongoDB",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:5000/webhook/notify-user",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ {\"userId\": $json.userId, \"message\": \"Job scraped successfully\", \"jobTitle\": $json.title} }}"
      },
      "name": "Notify User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Fetch Jobs To Scrape", "type": "main", "index": 0 }]]
    },
    "Fetch Jobs To Scrape": {
      "main": [[{ "node": "Scrape Job", "type": "main", "index": 0 }]]
    },
    "Scrape Job": {
      "main": [[{ "node": "Save to MongoDB", "type": "main", "index": 0 }]]
    },
    "Save to MongoDB": {
      "main": [[{ "node": "Notify User", "type": "main", "index": 0 }]]
    }
  }
}
